body{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Mono', monospace;
}

.content {
	background-image: linear-gradient(75deg, white, #eeeeee, #d9d9d9, #eeeeee, white);
	margin: 9rem 1rem 4rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	border-style: inset none outset none;
	border-radius: 8px;
	border-width: 4px;
	
}

.outer-item {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	max-width: 60%;
}

.inner-item {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}


.content-login {
	margin: 8rem 1rem 4rem 1rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

#login{
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 30px;
	border: 2px solid #EBECF1;
}

#login h1 {
	position: relative;
	left: 35%;
}

#login form input{
	position: relative;
	top: 10%;
	left: 10%;
	size: 80%;
	border-radius: 4px;
	border-width: 2px;
	border-top-style: inset;
	border-bottom-style: outset;
	border-left-style: hidden;
	border-right-style: hidden;
	text-align: center;
}

#login form label{
	position: relative;
	left: 40%;

}

#login form input[type=submit] {
	font-size: 110%;
	size: 10%;
	left: 20%;
	width: 60%;
	height: 2rem;
}

.content-reg {
	margin: 8rem 1rem 4rem 1rem;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

#reg{
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 30px;
	border: 2px solid #EBECF1;
}

#reg h1 {
	position: relative;
	left: 8%;
}

#reg form input{
	position: relative;
	top: 10%;
	size: 80%;
	border-radius: 4px;
	border-width: 2px;
	border-top-style: inset;
	border-bottom-style: outset;
	border-left-style: hidden;
	border-right-style: hidden;
	text-align: center;
}

#reg form label#normal{
	position: relative;
	left: 36%;
}
#reg form label#kurz{
	position: relative;
	left: 39%;
}
#reg form label#lang{
	position: relative;
	left: 21%;
}

#reg form input[type=submit] {
	font-size: 110%;
	size: 10%;
	left: 10%;
	width: 80%;
	height: 2rem;
}

.post {
	margin-bottom: 2rem;	
	text-shadow: 1px 1px 1px white;
}

#post_body {
	border-style: inset none none none;
	border-width: 2px;
	border-radius: 4px;
}


.denied {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FF0000;
	color: white;
	width: 35%;
	height: 35%;
	left: 35%;
	top: 35%;
	border-top-style: inset;
	border-bottom-style: outset;
	border-left-style: none;
	border-right-style: none;
	border-width: 4px;
	border-color: #990000;
	border-radius: 12px;
	font-size: 160%;
	text-shadow: 2px 2px 3px black;
}


