.container-profil {
	position: flex;
	margin: 7rem 0 7rem 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
} 

.sidebar {
	margin: 0px;
	padding: 0;
	width: 30rem;
	font-size: 2rem;
	background: #2f3640;
}

div.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 0rem;
	display: flex;
	flex-direction: column;
}

div.sidebar ul li  {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	transition: all 300ms;
	border-bottom: 1px solid black;
}

div.sidebar ul li a{
	display: inline-block;
	padding: 0.8rem 2.17rem 0.8rem 2.17rem;
	width: 25.55rem;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	margin: 0 1px 0 0;
	text-decoration: none;
	background: #c23616;
	font-weight: 300;
	transition: all 300ms;
  	font-family: 'Lexend Deca', sans-serif;
}

div.sidebar ul li:hover > a {
	background: #e84118;
}

.content-profil {
	padding: 3rem;
	width: 80vw;
	min-width: 60vw;
	font-size: 2rem;
	background: transparent;
	color: #fff;
	background: #ff0;
	opacity: 0.5;
	text-shadow: 1px 1px 2px #000; 
}

.inner-profil {
	position: relative;
	margin: 20% 50%;
	transform: translate(-50%, -50%);
	width: 70vw;
	height: 60vh;
	border-radius: 6px;
	border-color: #232831;
	border-top: inset;
	border-bottom: outset;
	background: #ff88ff
}

.header-profil {
	display: flex;
	flex-direction: row;
}

.rund {
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	width: 10vw;
	height: 20vh;
}

.rund-img{
	border: 0.2rem solid #fff;
}

.picture-profil {
	position: relative;
	margin: 2vh;
	width: 10vw;
	height: 20vh;
	background: #00ff00;
}

.background-profil {
	position: relative;
	background-image: url("../img/profil/testbg.jpg");
	width: 70vw;
	height: 25vh;

}